body{

    margin:0;

    font-family:Arial, Helvetica, sans-serif;

    background:#111827;

    color:white;

    text-align:center;

}

.container{

    padding:40px;

}

.card{

    background:#1f2937;

    width:500px;

    margin:auto;

    margin-top:30px;

    padding:30px;

    border-radius:15px;

    box-shadow:0 0 25px rgba(0,0,0,.4);

}

button{

    margin-top:25px;

    padding:12px 25px;

    font-size:18px;

    background:#16a34a;

    color:white;

    border:none;

    border-radius:10px;

    cursor:pointer;

}

button:hover{

    background:#15803d;

}

h1{

    color:#22c55e;

}

ul{

    text-align:left;

    display:inline-block;

}